<!--
  Generated template for the WeekPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="weather">Prévisions/ {{ weather.name }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="home">
  <!-- <h2>Welcome to Ionic!</h2>
  <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p>
  <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p> -->

  <ion-grid *ngIf="weather">
    <ion-row>
      <ion-col width-50 offset-25>
        <h2 class="location">
          {{ weather.name }}, {{ weather.sys.country}}
        </h2>
        <p>

        </p>
        <div class="center">
          <img [src]="'http://openweathermap.org/img/w/'+weather.weather[0].icon+'.png'" alt="">
        </div>
        <div class="desc center capitalize">
          {{ weather.weather[0].description }}
        </div>
        <h3 class="temp">
          {{ weather.main.temp }} &deg;C
        </h3>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-grid *ngIf="weekWeather" class="week">
    <ion-list class="week">
      <ion-item class="week ">
        <ion-row *ngFor="let day of weekWeather.list" class="itemday" >
          <ion-col col-2>
            <img class="itemimg" [src]="'http://openweathermap.org/img/w/'+day.weather[0].icon+'.png'" alt="">
          </ion-col>
          <ion-col col-7 align-self-center>
            <div class="white" >
              {{ day.dt_txt | date: "MMM d, HH:mm"}}
            </div>
          </ion-col>
          <ion-col col-3 align-self-center>
            {{ day.main.temp }} &deg;C
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
